PORT=5000
DATABASE_URL="postgresql://neondb_owner:npg_WJsShTu2ZwY7@ep-frosty-silence-adhthlz4-pooler.c-2.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require"
JWT_SECRET="eb3c77f73d7cd1b32b5d4fc4c88463d168b05fda82896a42769c16ac95352c8b"